@media (min-width: 992px){
    .navbar-expand-lg.navbar-vertical~.navbar, .navbar-expand-lg.navbar-vertical~.page-wrapper {
        margin-left: 15rem;
    }
}
.dropdown-menu-end {
    right: 0;
    left: auto;
}
.dropdown-menu {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0!important;
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}